<style>
    #myPic {
        width: 250px !important;
        height: 250px !important;
    }

    .md-block {
        margin: 20px 20px 20px 20px;
    }

    .myCheckBox {
        margin: 20px 20px 20px 20px;
    }

    .myCheckBox2 {
        margin-left: 20px;
    }
</style>
<div layout="row">
    <md-card flex="25">
        <h1 class="md-display-2" align="center">{{$root.singleFact.factName}}</h1>
        <div align="center"></div>
    </md-card>
    <md-card flex="50" style="">
        <md-input-container class="md-block" flex-gt-sm style="margin-top: 40px;">
            <label>Fact Name </label>
            <input md-select-on-focus ng-model="$root.singleFact.factName"></input><br><br><br>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Fact Description </label>
            <input md-select-on-focus ng-model="$root.singleFact.factDescription"></input><br><br><br>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Fact URL </label>
            <input md-select-on-focus ng-model="$root.singleFact.factURL"></input><br><br><br>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Fact Source </label>
            <input md-select-on-focus ng-model="$root.singleFact.factSource"></input>
        </md-input-container>
        <div class="md-padding">
            <fieldset class="standard">
                <legend>Tags</legend>
                <div layout-wrap="" layout-gt-sm="row">
                    <div ng-repeat="item in $root.tagNames | orderBy"  flex-gt-sm="50">
                        <md-checkbox ng-checked="exists(item.tagName, $root.selected)" ng-click="toggle(item.tagName, $root.selected)">
                            {{ item.tagName }}
                        </md-checkbox>
                        <!--<md-checkbox ng-checked="exists(item, $root.selected)" ng-click="toggle(item, $root.selected)">-->
                            <!--{{ item.tagName }}-->
                        <!--</md-checkbox>-->
                    </div>
                </div>
            </fieldset>
        </div>
    </md-card>
</div>
<form ng-submit="updateFact()">
    <button class="btn btn-primary" type="submit" ng-click="updateFact($root.singleFact._id)">Update Fact</button>
    <button class="btn btn-danger" ng-click="deleteFact($root.singleFact._id)">Delete Fact</button>
    <p ng-repeat="item in $root.singleFact.factTags">{{item.tagName}}</p>
</form><br>
<button class="btn btn-danger" ng-click="loadArray($root.tagNames[0], $root.selected)">Load Array</button>



