<div ng-click="getOneFact(rec._id)" class="factCell">
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{rec.factName}}</span>
                <span class="md-subhead">{{rec.factDescription}}</span>
                <span >{{rec.factTags}}</span>
                <!--<span ng-repeat="i in rec.factTags">{{i.tagName}}</span>-->
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <span class="md-subhead"><a href="{{rec.factURL}}">{{rec.factSource}}</a></span>
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>