<br>
<md-button class="groupX left" ui-sref="first" ng-click="testFunction()">Test Function</md-button>
<div layout="row">
    <div flex="20">
        <md-card class="md-padding" style="margin: 1px; border-color: #000088; border-style: groove; border-color: deepskyblue; border-width: 3px;">
            <md-card-title-text>
                <span class="md-headline">Search Facts...</span><br><br>
                <span class="md-subhead"><input ng-model="searchFacts" placeholder=" Filter Facts"></span>
            </md-card-title-text><br>
            <md-card-title-text>
                <span class="md-headline">Search Tags...</span><br><br>
                <span class="md-subhead"><input ng-model="selectedTags" placeholder=" Filter Tags"></span>
            </md-card-title-text><br>
            <div ng-repeat="item in $root.tagNames | orderBy | filter:searchTags">
                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)" ng-model="checked">
                    {{ item.tagName }}
                </md-checkbox>
            </div>
        </md-card>
    </div>

    <!-- returnedReceipe or resultsArray -->
    <!-- Below is the filter config for the tags filter
     | testFilter2:selected track by $index
     -->

    <div flex="80" style="padding: 10px;">
        <div ng-repeat="rec in factsArrayReturned" ng-if="checkTags(rec)" layout="column">
            <card></card>
        </div>
    </div>
</div>


